# Smart Travel App 
## Notebook 2: Data Read In

##### Group 4, Project 4 
##### Team: Dominique Villarreal, Enrique Garcia, Jose Santos
##### Project Due Date: June 12, 2023

In [1]:
#pip install --upgrade tensorflow
#import tensorflow as tf
#print(tf.__version__)

In [2]:
import json
import os
import pandas as pd
import pprint as pp
import requests
import time
#from tensorflow.keras.models import load_model
import warnings
warnings.simplefilter("ignore")
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [3]:
# Import csv's & load df's
# Denver
#merged_file_path = '/Users/josesantos/LearnPython/BCGit/G4_Project4/Resources/df_Extractions/merged_df.csv'
merged_file_path = '../G4_Project4/Resources/df_Extractions/merged_df.csv'
merged_df = pd.read_csv(merged_file_path)

merged_df.head(2)

,categories,name,rating,review_count,location,coordinates,city
0,"['Festivals', 'Arts & Crafts', 'Local Flavor']",Jackalope Arts,5.0,8,"{'address1': '5738 Olde Wadsworth Blvd', 'addr...","{'latitude': 39.800724136818026, 'longitude': ...",Denver
1,"['Venues & Event Spaces', 'Party & Event Plann...",Special Occasions Events,5.0,4,"{'address1': '3550 Federal Blvd', 'address2': ...","{'latitude': 39.76623, 'longitude': -105.02439}",Denver

In [4]:
# Process & Organize merged_df
columns_to_delete = ['location', 'coordinates']
merged_df.drop(columns_to_delete, axis=1, inplace=True)

merged_df = merged_df[['city','name', 'rating', 
                       'review_count', 'categories']]

# Access and work with the updated DataFrame
merged_df.head(1)

,city,name,rating,review_count,categories
0,Denver,Jackalope Arts,5.0,8,"['Festivals', 'Arts & Crafts', 'Local Flavor']"

In [5]:
# City - One-hot encoding
#city_encoded_data = pd.get_dummies(merged_df, columns = ['city'])
#city_encoded_data

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19627 entries, 0 to 19626
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          19627 non-null  object
 1   name          19627 non-null  object
 2   rating        19627 non-null  float64
 3   review_count  19627 non-null  int64
 4   categories    19627 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 766.8+ KB

In [6]:
# Create encoded df
city_encoded_data = merged_df.copy()
city_encoded_data

,city,name,rating,review_count,categories
0,Denver,Jackalope Arts,5.0,8,"['Festivals', 'Arts & Crafts', 'Local Flavor']"
1,Denver,Special Occasions Events,5.0,4,"['Venues & Event Spaces', 'Party & Event Plann..."
2,Denver,Denver International Wine Festival,4.5,6,['Festivals']
3,Denver,"Denver Mineral, Fossil, Gem & Jewelry Show",4.5,10,['Festivals']
4,Denver,Colorado Festival of Horror,5.0,1,['Festivals']
...,...,...,...,...,...
19622,NewYork,Felice 56,4.0,94,"['Italian', 'Wine Bars']"
19623,NewYork,The Jeffrey Craft Beer & Bites,4.0,728,"['Bars', 'American (New)', 'Coffee & Tea']"
19624,NewYork,Saint Tuesday,4.0,30,"['Lounges', 'Speakeasies', 'Cocktail Bars']"
19625,NewYork,Harlem Nights Bar,4.0,185,"['Bars', 'Music Venues']"
19626,NewYork,Cardiff Giant,4.0,56,"['Bars', 'Beer, Wine & Spirits', 'Cideries']"

In [7]:
# Explode the 'categories' column
city_encoded_data['categories'] = city_encoded_data['categories'].apply(eval)
city_encoded_data = city_encoded_data.explode('categories')
city_encoded_data

,city,name,rating,review_count,categories
0,Denver,Jackalope Arts,5.0,8,Festivals
0,Denver,Jackalope Arts,5.0,8,Arts & Crafts
0,Denver,Jackalope Arts,5.0,8,Local Flavor
1,Denver,Special Occasions Events,5.0,4,Venues & Event Spaces
1,Denver,Special Occasions Events,5.0,4,Party & Event Planning
...,...,...,...,...,...
19625,NewYork,Harlem Nights Bar,4.0,185,Bars
19625,NewYork,Harlem Nights Bar,4.0,185,Music Venues
19626,NewYork,Cardiff Giant,4.0,56,Bars
19626,NewYork,Cardiff Giant,4.0,56,"Beer, Wine & Spirits"
19626,NewYork,Cardiff Giant,4.0,56,Cideries

In [8]:
city_encoded_data.to_csv('city_encoded_data.csv', index=False)

In [9]:
import pandas as pd

# Assuming your DataFrame is named "city_encoded_data"

# Filter the DataFrame for rows with the city "Denver"
denver_data = city_encoded_data[city_encoded_data['city'] == 'Denver']

# Get the unique categories for Denver
denver_unique_categories = denver_data['categories'].unique()

# Filter the DataFrame for rows with cities other than "Denver"
other_cities_data = city_encoded_data[city_encoded_data['city'] != 'Denver']

# Get the unique categories for the other cities
other_cities_unique_categories = other_cities_data['categories'].unique()

# Get the categories that are unique to Denver
unique_to_denver_categories = set(denver_unique_categories) - set(other_cities_unique_categories)

# Create a DataFrame with the unique categories for Denver
denver_unique_categories_df = pd.DataFrame({'Unique Categories for Denver': list(unique_to_denver_categories)})

# Add city column
denver_unique_categories_df['city'] = 'Denver'

# Rename unique categories column
denver_unique_categories_df['Unique Categories'] = denver_unique_categories_df['Unique Categories for Denver']

# Drop Unique Categories for New York
denver_unique_categories_df.drop('Unique Categories for Denver', axis=1, inplace=True)

# Print the DataFrame
denver_unique_categories_df

      city      Unique Categories
0   Denver              Cambodian
1   Denver     Grilling Equipment
2   Denver          Veterinarians
3   Denver      Knitting Supplies
4   Denver  Cannabis Dispensaries
..     ...                    ...
66  Denver  Auto Parts & Supplies
67  Denver         Water Delivery
68  Denver            Reflexology
69  Denver                   Rugs
70  Denver     Lactation Services

[71 rows x 2 columns]

In [10]:
import pandas as pd

# Assuming your DataFrame is named "city_encoded_data"

# Filter the DataFrame for rows with the city "Miami"
miami_data = city_encoded_data[city_encoded_data['city'] == 'Miami']

# Get the unique categories for Miami
miami_unique_categories = miami_data['categories'].unique()

# Filter the DataFrame for rows with cities other than "Miami"
other_cities_data = city_encoded_data[city_encoded_data['city'] != 'Miami']

# Get the unique categories for the other cities
other_cities_unique_categories = other_cities_data['categories'].unique()

# Get the categories that are unique to Miami
unique_to_miami_categories = set(miami_unique_categories) - set(other_cities_unique_categories)

# Create a DataFrame with the unique categories for Miami
miami_unique_categories_df = pd.DataFrame({'Unique Categories for Miami': list(unique_to_miami_categories)})

# Add city column
miami_unique_categories_df['city'] = 'Miami'

# Rename unique categories column
miami_unique_categories_df['Unique Categories'] = miami_unique_categories_df['Unique Categories for Miami']

# Drop Unique Categories for New York
miami_unique_categories_df.drop('Unique Categories for Miami', axis=1, inplace=True)

# Print the DataFrame
miami_unique_categories_df

     city Unique Categories
0   Miami  Test Preparation
1   Miami        Car Rental
2   Miami       Nail Salons
3   Miami       Campgrounds
4   Miami   Glass & Mirrors
..    ...               ...
64  Miami        Snorkeling
65  Miami  Wholesale Stores
66  Miami        Dive Shops
67  Miami            Diving
68  Miami   Scooter Rentals

[69 rows x 2 columns]

In [11]:
import pandas as pd

# Assuming your DataFrame is named "city_encoded_data"

# Filter the DataFrame for rows with the city "NewYork"
newyork_data = city_encoded_data[city_encoded_data['city'] == 'NewYork']

# Get the unique categories for New York, dropping NaN values
newyork_unique_categories = newyork_data['categories'].dropna().unique()

# Filter the DataFrame for rows with cities other than "NewYork"
other_cities_data = city_encoded_data[city_encoded_data['city'] != 'NewYork']

# Get the unique categories for the other cities, dropping NaN values
other_cities_unique_categories = other_cities_data['categories'].dropna().unique()

# Get the categories that are unique to New York
unique_to_newyork_categories = set(newyork_unique_categories) - set(other_cities_unique_categories)

# Create a DataFrame with the unique categories for New York
newyork_unique_categories_df = pd.DataFrame({'Unique Categories for New York': list(unique_to_newyork_categories)})

# Add city column
newyork_unique_categories_df['city'] = 'New York'

# Rename unique categories column
newyork_unique_categories_df['Unique Categories'] = newyork_unique_categories_df['Unique Categories for New York']

# Drop Unique Categories for New York
newyork_unique_categories_df.drop('Unique Categories for New York', axis=1, inplace=True)

# Print the DataFrame
newyork_unique_categories_df

        city          Unique Categories
0   New York                 Public Art
1   New York  Music Production Services
2   New York               Trivia Hosts
3   New York           Buddhist Temples
4   New York             Discount Store
5   New York                 Australian
6   New York                     Hainan
7   New York                   Georgian
8   New York                Bangladeshi
9   New York               Pest Control
10  New York            Pain Management
11  New York              South African
12  New York                   Scottish
13  New York                   Pedicabs
14  New York               Cheerleading
15  New York           Language Schools
16  New York       Whale Watching Tours
17  New York              Vermouth Bars
18  New York                   Sicilian
19  New York      Public Transportation
20  New York                    Piadina
21  New York               Bus Stations
22  New York                 Laundromat
23  New York                Ski Resorts
24  New York               Bike Sharing
25  New York                 Club Crawl
26  New York                      Taxis
27  New York                     Fondue
28  New York                  Badminton
29  New York           Medical Supplies
30  New York            Adult Education
31  New York                   Armenian
32  New York                   Florists
33  New York                  Slovakian
34  New York             Japanese Curry
35  New York           Office Equipment
36  New York          Personal Shopping
37  New York                Shoe Stores
38  New York                  Malaysian
39  New York               Ice Delivery
40  New York         Sommelier Services

In [12]:
# Concatenate the DataFrames
combined_unique_df = pd.concat([newyork_unique_categories_df, miami_unique_categories_df, denver_unique_categories_df], ignore_index=True)

# Print the combined DataFrame
combined_unique_df

# Export to csv for review
combined_unique_df.to_csv('combined_unique_categories.csv', index=False)

In [13]:
# Call in the selected unique df
# Import csv's & load df's
# Denver
selected_unique_categories_file_path = '/Users/josesantos/LearnPython/BCGit/G4_Project4/Resources/selected_unique_categories.csv'
selected_unique_cat_df = pd.read_csv(selected_unique_categories_file_path)

selected_unique_cat_df.head(200)

         city       Unique Categories
0    New York                  Fondue
1    New York                Sicilian
2    New York              Club Crawl
3    New York               Badminton
4    New York             Ski Resorts
..        ...                     ...
109    Denver   Ski & Snowboard Shops
110    Denver         Pumpkin Patches
111    Denver             Ski Schools
112    Denver                  Somali
113    Denver  Newspapers & Magazines

[114 rows x 2 columns]

In [14]:
# Categories - labelEncoder
# Create a label encoder
label_encoder = LabelEncoder()

# Apply label encoding to the 'categories' column
city_encoded_data['categories_encoded'] = label_encoder.fit_transform(city_encoded_data['categories'])

city_encoded_data

,city,name,rating,review_count,categories,categories_encoded
0,Denver,Jackalope Arts,5.0,8,Festivals,220
0,Denver,Jackalope Arts,5.0,8,Arts & Crafts,38
0,Denver,Jackalope Arts,5.0,8,Local Flavor,348
1,Denver,Special Occasions Events,5.0,4,Venues & Event Spaces,605
1,Denver,Special Occasions Events,5.0,4,Party & Event Planning,416
...,...,...,...,...,...,...
19625,NewYork,Harlem Nights Bar,4.0,185,Bars,58
19625,NewYork,Harlem Nights Bar,4.0,185,Music Venues,384
19626,NewYork,Cardiff Giant,4.0,56,Bars,58
19626,NewYork,Cardiff Giant,4.0,56,"Beer, Wine & Spirits",70
19626,NewYork,Cardiff Giant,4.0,56,Cideries,146

In [15]:
filtered_city_data = city_encoded_data[city_encoded_data['categories'].isin(selected_unique_cat_df['Unique Categories'])]
filtered_city_df = filtered_city_data
filtered_city_df.head(500)

,city,name,rating,review_count,categories,categories_encoded
0,Denver,Jackalope Arts,5.0,8,Local Flavor,348
7,Denver,Cherry Creek Holiday Market,3.5,17,Public Markets,467
20,Denver,The Brew Hut,5.0,121,Brewing Supplies,97
39,Denver,Altitude Brewing & Supply,4.5,16,Brewing Supplies,97
234,Denver,Body Balance Strength & Wellness,5.0,6,Chiropractors,142
...,...,...,...,...,...,...
19413,NewYork,The Lavaux,4.5,100,Fondue,231
19536,NewYork,Skillman Music Recording Studio,5.0,2,Music Production Services,383
19578,NewYork,Mamak House,4.0,133,Malaysian,354
19592,NewYork,Amor y Amargo,4.0,507,Vermouth Bars,606
19612,NewYork,Kaia Wine Bar,4.0,525,South African,532

In [16]:
# Drop original categories column
#filtered_city_df.drop('categories', axis=1, inplace=True)

In [17]:
# Create the city_category_predict_df
city_category_predict_df = filtered_city_df[['city', 'categories','categories_encoded']]
city_category_predict_df

          city                 categories  categories_encoded
0       Denver               Local Flavor                 348
7       Denver             Public Markets                 467
20      Denver           Brewing Supplies                  97
39      Denver           Brewing Supplies                  97
234     Denver              Chiropractors                 142
...        ...                        ...                 ...
19413  NewYork                     Fondue                 231
19536  NewYork  Music Production Services                 383
19578  NewYork                  Malaysian                 354
19592  NewYork              Vermouth Bars                 606
19612  NewYork              South African                 532

[350 rows x 3 columns]

In [18]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import random

# select X & y and reshape df
X = city_category_predict_df['categories_encoded'].values.reshape(-1, 1)
y = city_category_predict_df['city']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the Random Forest Classifier
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Set to keep track of predicted cities
predicted_cities = set()

# Loop until Denver, Miami, and NewYork have been predicted
while len(predicted_cities) < 3:
    # Generate a random sample of 10 categories
    sample_categories = random.sample(list(city_category_predict_df['categories_encoded']), 10)
    sample_categories_encoded = pd.DataFrame({'categories_encoded': sample_categories})

    # Predict the city based on the random group of 10 categories
    prediction = model.predict(sample_categories_encoded)
    predicted_city = prediction[0]

    # Check if the predicted city is one of Denver, Miami, or NewYork
    if predicted_city in ['Denver', 'Miami', 'NewYork']:
        # Add the predicted city to the set of predicted cities
        predicted_cities.add(predicted_city)

        # Get the actual category names
        category_names = city_category_predict_df.loc[city_category_predict_df['categories_encoded'].isin(sample_categories), 'categories'].unique()

        # Print the categories used to predict the city
        print("Categories Used:")
        for category in category_names:
            print(category)

        # Print the predicted city
        print("Predicted City:", predicted_city)
        print()

Categories Used:
Cambodian
Gemstones & Minerals
Piercing
Scooter Rentals
Parasailing
Skydiving
Moroccan
Ferries
Public Art
Badminton
Predicted City: NewYork

Categories Used:
Traditional Chinese Medicine
Pumpkin Patches
Wedding Chapels
Resorts
Snorkeling
Motorcycle Dealers
Racing Experience
Moroccan
Public Art
Slovakian
Predicted City: Miami

Categories Used:
Brewing Supplies
Piercing
Snorkeling
Motorcycle Dealers
Scooter Rentals
Beach Equipment Rentals
Water Parks
Boat Dealers
Hot Tub & Pool
Champagne Bars
Predicted City: Miami

Categories Used:
Polynesian
Used Bookstore
Caricatures
Scooter Rentals
Champagne Bars
Moroccan
Georgian
Bangladeshi
Predicted City: Miami

Categories Used:
Polynesian
Bingo Halls
Television Stations
Scooter Rentals
Champagne Bars
Moroccan
Georgian
Australian
Trivia Hosts
Bangladeshi
Predicted City: Miami

Categories Used:
Public Markets
Ski & Snowboard Shops
Television Stations
Parasailing
Skydiving
Beach Equipment Rentals
Boat Dealers
Pedicabs
Predicted City: Miami

Categories Used:
Costumes
Golf Cart Rentals
Beach Equipment Rentals
Racing Experience
Nicaraguan
Moroccan
Georgian
Australian
Badminton
Predicted City: NewYork

Categories Used:
Traditional Chinese Medicine
Cannabis Dispensaries
Hobby Shops
Bubble Soccer
Parasailing
Moroccan
Bangladeshi
Pedicabs
Sommelier Services
Predicted City: Miami

Categories Used:
Sledding
Pumpkin Patches
Used, Vintage & Consignment
Parasailing
Beach Equipment Rentals
Moroccan
Slovakian
Pedicabs
Sommelier Services
Predicted City: NewYork

Categories Used:
Used, Vintage & Consignment
Drama Schools
Religious Items
Books, Mags, Music & Video
Snorkeling
Golf Cart Rentals
Parasailing
Flyboarding
Champagne Bars
Predicted City: Miami

Categories Used:
Chiropractors
Traditional Chinese Medicine
Flea Markets
Bingo Halls
Piercing
Golf Cart Rentals
Flyboarding
Vacation Rentals
Moroccan
Fondue
Predicted City: Denver

In [19]:
model.score(X_test, y_test)

0.8857142857142857

In [20]:
model.fit(X_test, y_test)

RandomForestClassifier(random_state=42)

In [21]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import random

# select X & y and reshape df
X = city_category_predict_df['categories_encoded'].values.reshape(-1, 1)
y = city_category_predict_df['city']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the Random Forest Classifier
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Set to keep track of predicted cities
predicted_cities = set()

# Loop until Denver, Miami, and NewYork have been predicted
while len(predicted_cities) < 3:
    # Generate a random sample of 10 categories
    sample_categories = random.sample(list(city_category_predict_df['categories_encoded']), 10)
    sample_categories_encoded = pd.DataFrame({'categories_encoded': sample_categories})

    # Predict the city based on the random group of 10 categories
    prediction = model.predict(sample_categories_encoded)
    predicted_city = prediction[0]

    # Check if the predicted city is one of Denver, Miami, or NewYork
    if predicted_city in ['Denver', 'Miami', 'NewYork']:
        # Add the predicted city to the set of predicted cities
        predicted_cities.add(predicted_city)

        # Get the actual category names
        category_names = city_category_predict_df.loc[city_category_predict_df['categories_encoded'].isin(sample_categories), 'categories'].unique()

        # Print the categories used to predict the city
        print("Categories Used:")
        for category in category_names:
            print(category)

        # Print the predicted city
        print("Predicted City:", predicted_city)

        # Print the top 3 activities for each sample category
        print("Top Activities:")
        for category in sample_categories:
            filtered_activities = filtered_city_df[(filtered_city_df['city'] == predicted_city) & (filtered_city_df['categories_encoded'] == category)]
            sorted_activities = filtered_activities.sort_values(['rating', 'review_count'], ascending=[False, False])
            top_activities = sorted_activities['name'].head(3).tolist()

            print("Category:", category)
            for activity in top_activities:
                print(activity)

        print()

Categories Used:
Chiropractors
Hobby Shops
Costumes
Piercing
Religious Items
Resorts
Scooter Rentals
Vacation Rentals
Bartenders
Predicted City: Miami
Top Activities:
Category: 498
Fly'n Bye Motorsports
Modern Rentals
Sobe Tours and Transportation
Category: 600
Modern Rentals
The Advantaged Yacht Charters & Sales
Luxury Experience Miami
Category: 142
Category: 169
Category: 485
JW Marriott Miami Turnberry Resort & Spa
JW Marriott Miami Turnberry Resort & Spa
JW Marriott Miami Turnberry Resort & Spa
Category: 59
Tipsee chix mobile bar
Tipsee chix mobile bar
Category: 281
Category: 498
Fly'n Bye Motorsports
Modern Rentals
Sobe Tours and Transportation
Category: 484
Esmeralda's Earth, Wind and Fire Boutique
Esmeralda's Earth, Wind and Fire Boutique
Category: 442
The Shop Tattoo Studio
The Shop Tattoo Studio
The Shop Tattoo Studio

Categories Used:
Themed Cafes
Ski & Snowboard Shops
Parasailing
Champagne Bars
Moroccan
Basque
Sunglasses
Ferries
Trivia Hosts
Predicted City: NewYork
Top Activities:
Category: 594
NYC Trivia League
BreakoutIQ
Trinity Pub
Category: 413
Category: 130
Category: 517
Category: 62
Category: 581
Category: 551
Category: 219
Category: 413
Category: 375

Categories Used:
Brewing Supplies
Themed Cafes
Costumes
Piercing
Snorkeling
Parasailing
Boat Dealers
Nicaraguan
Moroccan
Public Art
Predicted City: Miami
Top Activities:
Category: 413
Beach Buddies
Fly Key Largo - Keys Parasail
Star Jetski
Category: 442
The Shop Tattoo Studio
The Shop Tattoo Studio
The Shop Tattoo Studio
Category: 375
Tides Restaurant & Terrace
Tides Restaurant & Terrace
Tides Restaurant & Terrace
Category: 169
Category: 80
Blu Bros Yachts and Charters
Miami Yacht Access
Theodoli Marine Group
Category: 581
Category: 525
Biscayne National Park Institute
Get Tanked South Florida
Fort Lauderdale Paddle Sports
Category: 97
Category: 392
Madrono Restaurant
Fritanga Cana Brava
Fritanga 505
Category: 466

Categories Used:
Bingo Halls
Religious Items
Kiteboarding
Scooter Rentals
Parasailing
Beach Equipment Rentals
Nicaraguan
Moroccan
South African
Predicted City: Miami
Top Activities:
Category: 64
Jet Ski King
Florida Jet Skii
Bluepoint SUP
Category: 532
Category: 413
Beach Buddies
Fly Key Largo - Keys Parasail
Star Jetski
Category: 326
Hirooka Surf and Sport
South Florida Kiteboarding
Paddleboard Miami - TKS MIAMI
Category: 78
Category: 392
Madrono Restaurant
Fritanga Cana Brava
Fritanga 505
Category: 375
Tides Restaurant & Terrace
Tides Restaurant & Terrace
Tides Restaurant & Terrace
Category: 484
Esmeralda's Earth, Wind and Fire Boutique
Esmeralda's Earth, Wind and Fire Boutique
Category: 375
Tides Restaurant & Terrace
Tides Restaurant & Terrace
Tides Restaurant & Terrace
Category: 498
Fly'n Bye Motorsports
Modern Rentals
Sobe Tours and Transportation

Categories Used:
Brewing Supplies
Pumpkin Patches
Caricatures
Parasailing
Beach Equipment Rentals
Vacation Rentals
Racing Experience
Moroccan
Georgian
Predicted City: Miami
Top Activities:
Category: 476
Miami Exotic Auto Racing
Miami Exotic Auto Racing
Category: 126
Category: 248
Category: 248
Category: 64
Jet Ski King
Florida Jet Skii
Bluepoint SUP
Category: 600
Modern Rentals
The Advantaged Yacht Charters & Sales
Luxury Experience Miami
Category: 375
Tides Restaurant & Terrace
Tides Restaurant & Terrace
Tides Restaurant & Terrace
Category: 471
Category: 97
Category: 413
Beach Buddies
Fly Key Largo - Keys Parasail
Star Jetski

Categories Used:
Newspapers & Magazines
Furniture Stores
Kiteboarding
Parasailing
Diving
Vacation Rentals
Nicaraguan
Public Art
Bangladeshi
Pedicabs
Predicted City: Miami
Top Activities:
Category: 326
Hirooka Surf and Sport
South Florida Kiteboarding
Paddleboard Miami - TKS MIAMI
Category: 392
Madrono Restaurant
Fritanga Cana Brava
Fritanga 505
Category: 391
Category: 600
Modern Rentals
The Advantaged Yacht Charters & Sales
Luxury Experience Miami
Category: 241
Category: 466
Category: 197
Grove Scuba
Miami Bay Tours
Category: 413
Beach Buddies
Fly Key Largo - Keys Parasail
Star Jetski
Category: 53
Category: 425

Categories Used:
Traditional Chinese Medicine
Costumes
Motorcycle Dealers
Scooter Rentals
Nicaraguan
Georgian
Sicilian
Fondue
Club Crawl
Predicted City: Miami
Top Activities:
Category: 376
Affordable ATV's Worldwide
Miami Beach Scooter
Beach Scooter Rental and Sales
Category: 588
Category: 588
Category: 513
Category: 231
Category: 392
Madrono Restaurant
Fritanga Cana Brava
Fritanga 505
Category: 169
Category: 498
Fly'n Bye Motorsports
Modern Rentals
Sobe Tours and Transportation
Category: 248
Category: 153

Categories Used:
Knitting Supplies
Cannabis Dispensaries
Video Game Stores
Scooter Rentals
Eyelash Service
Boat Dealers
Scottish
Sicilian
Fondue
Predicted City: NewYork
Top Activities:
Category: 500
Caledonia Bar
Caledonia Bar
Caledonia Bar
Category: 498
Category: 231
The Lavaux
The Lavaux
The Lavaux
Category: 609
Category: 212
Category: 80
Category: 513
Concrete
Concrete
Concrete
Category: 327
Category: 120
Category: 498

Categories Used:
Public Markets
Barbers
Laotian
Snorkeling
Scooter Rentals
Water Parks
Sunglasses
Georgian
Sicilian
Malaysian
Predicted City: Denver
Top Activities:
Category: 56
Scissors & Scotch
Scissors & Scotch
Category: 337
Woody's Wings N Things
Category: 498
Category: 621
Category: 513
Category: 248
Category: 551
Category: 354
Category: 467
Cherry Creek Holiday Market
Cherry Creek Holiday Market
Category: 525

In [29]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import random

# select X & y and reshape df
X = city_category_predict_df['categories_encoded'].values.reshape(-1, 1)
y = city_category_predict_df['city']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the Random Forest Classifier
model2 = RandomForestClassifier(n_estimators=100, random_state=42)
model2.fit(X_train, y_train)

# Set to keep track of predicted cities
predicted_cities = set()

# Loop until Denver, Miami, and NewYork have been predicted
while len(predicted_cities) < 3:
    # Generate a random sample of 10 categories
    sample_categories = random.sample(list(city_category_predict_df['categories_encoded']), 10)
    sample_categories_encoded = pd.DataFrame({'categories_encoded': sample_categories})

    # Predict the city based on the random group of 10 categories
    prediction = model.predict(sample_categories_encoded)
    predicted_city = prediction[0]

    # Check if the predicted city is one of Denver, Miami, or NewYork
    if predicted_city in ['Denver', 'Miami', 'NewYork']:
        # Add the predicted city to the set of predicted cities
        predicted_cities.add(predicted_city)

        # Get the actual category names
        category_names = city_category_predict_df.loc[city_category_predict_df['categories_encoded'].isin(sample_categories), 'categories'].unique()

        # Print the categories used to predict the city
        print("Categories Used:")
        for category in category_names:
            print(category)

        # Print the predicted city
        print("Predicted City:", predicted_city)

        # Print the top activities for each sample category
        print("Top Activities:")
        for category in sample_categories:
            # Convert category back to its name
            category_name = city_category_predict_df.loc[city_category_predict_df['categories_encoded'] == category, 'categories'].iloc[0]

            filtered_activities = filtered_city_df[(filtered_city_df['city'] == predicted_city) & (filtered_city_df['categories_encoded'] == category)]
            sorted_activities = filtered_activities.sort_values(['rating', 'review_count'], ascending=[False, False])
            top_activities = sorted_activities[['name', 'rating', 'review_count']].head(3)

            print("Category:", category_name)
            for _, activity in top_activities.iterrows():
                activity_name = activity['name']
                rating = activity['rating']
                review_count = activity['review_count']
                print("Activity:", activity_name)
                print("Rating:", rating)
                print("Review Count:", review_count)
                print()

        print()

Categories Used:
Ski & Snowboard Shops
Civic Center
Hobby Shops
Animal Shelters
Snorkeling
Kiteboarding
Moroccan
Bangladeshi
Pedicabs
Predicted City: Miami
Top Activities:
Category: Snorkeling
Activity: Biscayne National Park Institute
Rating: 5.0
Review Count: 229

Activity: Get Tanked South Florida
Rating: 5.0
Review Count: 9

Activity: Fort Lauderdale Paddle Sports
Rating: 5.0
Review Count: 3

Category: Animal Shelters
Activity: F.R.I.E.N.D.S. Horse Rescue & Sanctuary
Rating: 3.5
Review Count: 3

Activity: F.R.I.E.N.D.S. Horse Rescue & Sanctuary
Rating: 3.5
Review Count: 3

Category: Kiteboarding
Activity: Hirooka Surf and Sport
Rating: 5.0
Review Count: 16

Activity: South Florida Kiteboarding
Rating: 5.0
Review Count: 12

Activity: Paddleboard Miami - TKS MIAMI
Rating: 5.0
Review Count: 6

Category: Snorkeling
Activity: Biscayne National Park Institute
Rating: 5.0
Review Count: 229

Activity: Get Tanked South Florida
Rating: 5.0
Review Count: 9

Activity: Fort Lauderdale Paddle Sports
Rating: 5.0
Review Count: 3

Category: Bangladeshi
Category: Moroccan
Activity: Tides Restaurant & Terrace
Rating: 2.5
Review Count: 80

Activity: Tides Restaurant & Terrace
Rating: 2.5
Review Count: 80

Activity: Tides Restaurant & Terrace
Rating: 2.5
Review Count: 80

Category: Ski & Snowboard Shops
Category: Hobby Shops
Category: Pedicabs
Category: Civic Center

Categories Used:
Local Flavor
Pumpkin Patches
Used, Vintage & Consignment
Drama Schools
Wedding Chapels
Motorcycle Dealers
Water Parks
Moroccan
Australian
Trivia Hosts
Predicted City: Denver
Top Activities:
Category: Local Flavor
Activity: Jackalope Arts
Rating: 5.0
Review Count: 8

Activity: Jackalope Arts
Rating: 5.0
Review Count: 8

Category: Australian
Category: Drama Schools
Activity: Lea Marlene Actors Studio & The Namastage Theatre
Rating: 5.0
Review Count: 5

Category: Motorcycle Dealers
Category: Pumpkin Patches
Activity: Lone Creek Farms
Rating: 4.5
Review Count: 18

Activity: Hill's Harvest
Rating: 4.5
Review Count: 7

Activity: Rock Creek Farm
Rating: 4.0
Review Count: 71

Category: Moroccan
Category: Water Parks
Category: Used, Vintage & Consignment
Activity: Red Herring Art & Supply
Rating: 5.0
Review Count: 3

Activity: Garage Sale Vintage
Rating: 4.5
Review Count: 3

Activity: Garage Sale Vintage
Rating: 4.5
Review Count: 3

Category: Wedding Chapels
Category: Trivia Hosts

Categories Used:
Ski Schools
Cannabis Dispensaries
Barbers
Piercing
Resorts
Surf Schools
Scooter Rentals
Water Parks
Bangladeshi
Pedicabs
Predicted City: Miami
Top Activities:
Category: Water Parks
Activity: Tigertail Lake Recreational Center
Rating: 4.5
Review Count: 23

Activity: Miami Watersports Complex
Rating: 4.0
Review Count: 34

Activity: Paradise Cove Water Park
Rating: 4.0
Review Count: 31

Category: Pedicabs
Category: Cannabis Dispensaries
Category: Bangladeshi
Category: Resorts
Activity: JW Marriott Miami Turnberry Resort & Spa
Rating: 3.0
Review Count: 276

Activity: JW Marriott Miami Turnberry Resort & Spa
Rating: 3.0
Review Count: 276

Activity: JW Marriott Miami Turnberry Resort & Spa
Rating: 3.0
Review Count: 276

Category: Scooter Rentals
Activity: Fly'n Bye Motorsports
Rating: 5.0
Review Count: 1

Activity: Modern Rentals
Rating: 5.0
Review Count: 1

Activity: Sobe Tours and Transportation
Rating: 5.0
Review Count: 1

Category: Piercing
Activity: The Shop Tattoo Studio
Rating: 5.0
Review Count: 7

Activity: The Shop Tattoo Studio
Rating: 5.0
Review Count: 7

Activity: The Shop Tattoo Studio
Rating: 5.0
Review Count: 7

Category: Ski Schools
Category: Barbers
Category: Surf Schools
Activity: SoBe Surf
Rating: 5.0
Review Count: 21

Activity: Waterway Adventures
Rating: 4.5
Review Count: 14


Categories Used:
Public Markets
Brewing Supplies
Ski & Snowboard Shops
Newspapers & Magazines
Snorkeling
Kiteboarding
Motorcycle Dealers
Nicaraguan
Moroccan
Predicted City: Miami
Top Activities:
Category: Moroccan
Activity: Tides Restaurant & Terrace
Rating: 2.5
Review Count: 80

Activity: Tides Restaurant & Terrace
Rating: 2.5
Review Count: 80

Activity: Tides Restaurant & Terrace
Rating: 2.5
Review Count: 80

Category: Snorkeling
Activity: Biscayne National Park Institute
Rating: 5.0
Review Count: 229

Activity: Get Tanked South Florida
Rating: 5.0
Review Count: 9

Activity: Fort Lauderdale Paddle Sports
Rating: 5.0
Review Count: 3

Category: Snorkeling
Activity: Biscayne National Park Institute
Rating: 5.0
Review Count: 229

Activity: Get Tanked South Florida
Rating: 5.0
Review Count: 9

Activity: Fort Lauderdale Paddle Sports
Rating: 5.0
Review Count: 3

Category: Brewing Supplies
Category: Newspapers & Magazines
Category: Public Markets
Category: Motorcycle Dealers
Activity: Affordable ATV's Worldwide
Rating: 5.0
Review Count: 1

Activity: Miami Beach Scooter
Rating: 4.5
Review Count: 63

Activity: Beach Scooter Rental and Sales
Rating: 4.0
Review Count: 109

Category: Kiteboarding
Activity: Hirooka Surf and Sport
Rating: 5.0
Review Count: 16

Activity: South Florida Kiteboarding
Rating: 5.0
Review Count: 12

Activity: Paddleboard Miami - TKS MIAMI
Rating: 5.0
Review Count: 6

Category: Nicaraguan
Activity: Madrono Restaurant
Rating: 4.5
Review Count: 360

Activity: Fritanga Cana Brava
Rating: 4.5
Review Count: 274

Activity: Fritanga 505
Rating: 4.5
Review Count: 48

Category: Ski & Snowboard Shops

Categories Used:
Chiropractors
Lakes
Reflexology
Furniture Stores
Herbal Shops
Parasailing
Skydiving
Nicaraguan
Moroccan
Australian
Predicted City: Denver
Top Activities:
Category: Chiropractors
Activity: Nova Mente Academy
Rating: 5.0
Review Count: 9

Activity: Body Balance Strength & Wellness
Rating: 5.0
Review Count: 6

Activity: Body Balance Strength & Wellness
Rating: 5.0
Review Count: 6

Category: Skydiving
Category: Herbal Shops
Category: Reflexology
Activity: Gentle Winds and Hands
Rating: 5.0
Review Count: 3

Activity: Bare Medicine
Rating: 5.0
Review Count: 3

Activity: Divine Bodies Healing Arts
Rating: 5.0
Review Count: 3

Category: Lakes
Activity: The Main Reservoir
Rating: 4.5
Review Count: 6

Category: Australian
Category: Moroccan
Category: Nicaraguan
Category: Furniture Stores
Activity: ELEMENT Home
Rating: 5.0
Review Count: 34

Activity: Eron Johnson Antiques
Rating: 5.0
Review Count: 9

Activity: Mid-Mod Mall
Rating: 4.5
Review Count: 51

Category: Parasailing

Categories Used:
Traditional Chinese Medicine
Furniture Stores
Parasailing
Flyboarding
Vacation Rentals
Nicaraguan
Scottish
Malaysian
Bus Stations
Predicted City: Miami
Top Activities:
Category: Parasailing
Activity: Beach Buddies
Rating: 5.0
Review Count: 1

Activity: Fly Key Largo - Keys Parasail
Rating: 5.0
Review Count: 1

Activity: Star Jetski
Rating: 5.0
Review Count: 1

Category: Malaysian
Category: Bus Stations
Category: Furniture Stores
Category: Flyboarding
Activity: Miami Beach Flyboard and Jet Ski Rentals
Rating: 4.5
Review Count: 37

Activity: High Impact Watersports
Rating: 4.5
Review Count: 21

Activity: BJM Jetski Rentals
Rating: 4.0
Review Count: 20

Category: Malaysian
Category: Nicaraguan
Activity: Madrono Restaurant
Rating: 4.5
Review Count: 360

Activity: Fritanga Cana Brava
Rating: 4.5
Review Count: 274

Activity: Fritanga 505
Rating: 4.5
Review Count: 48

Category: Scottish
Category: Traditional Chinese Medicine
Category: Vacation Rentals
Activity: Modern Rentals
Rating: 5.0
Review Count: 1

Activity: The Advantaged Yacht Charters & Sales
Rating: 4.0
Review Count: 7

Activity: Luxury Experience Miami
Rating: 3.0
Review Count: 2


Categories Used:
Pumpkin Patches
Hot Air Balloons
Reflexology
Video Game Stores
Gemstones & Minerals
Art Consultants
Bubble Soccer
Eyelash Service
Nicaraguan
Bus Stations
Predicted City: Denver
Top Activities:
Category: Gemstones & Minerals
Activity: Catalyst Crystals & Jewelry
Rating: 5.0
Review Count: 2

Activity: For Heaven's Sake Metaphysical Store - Denver
Rating: 4.5
Review Count: 56

Activity: Crystal Haven
Rating: 4.0
Review Count: 10

Category: Hot Air Balloons
Activity: Aero-Cruise Balloon Adventures
Rating: 5.0
Review Count: 5

Category: Eyelash Service
Category: Art Consultants
Category: Reflexology
Activity: Gentle Winds and Hands
Rating: 5.0
Review Count: 3

Activity: Bare Medicine
Rating: 5.0
Review Count: 3

Activity: Divine Bodies Healing Arts
Rating: 5.0
Review Count: 3

Category: Pumpkin Patches
Activity: Lone Creek Farms
Rating: 4.5
Review Count: 18

Activity: Hill's Harvest
Rating: 4.5
Review Count: 7

Activity: Rock Creek Farm
Rating: 4.0
Review Count: 71

Category: Bus Stations
Category: Video Game Stores
Activity: Channel 3 Retro Gaming Center
Rating: 5.0
Review Count: 17

Category: Bubble Soccer
Category: Nicaraguan

Categories Used:
Used Bookstore
Comic Books
Furniture Stores
Piercing
Party Characters
Georgian
Bangladeshi
Badminton
Predicted City: NewYork
Top Activities:
Category: Bangladeshi
Activity: Tong
Rating: 5.0
Review Count: 60

Activity: Tong
Rating: 5.0
Review Count: 60

Activity: Tong
Rating: 5.0
Review Count: 60

Category: Georgian
Activity: Georgian Corner
Rating: 5.0
Review Count: 6

Activity: Georgian Corner
Rating: 5.0
Review Count: 6

Activity: Chama Mama
Rating: 4.5
Review Count: 656

Category: Piercing
Category: Used Bookstore
Category: Georgian
Activity: Georgian Corner
Rating: 5.0
Review Count: 6

Activity: Georgian Corner
Rating: 5.0
Review Count: 6

Activity: Chama Mama
Rating: 4.5
Review Count: 656

Category: Party Characters
Category: Badminton
Activity: Tiger Badminton Training
Rating: 5.0
Review Count: 4

Category: Comic Books
Category: Georgian
Activity: Georgian Corner
Rating: 5.0
Review Count: 6

Activity: Georgian Corner
Rating: 5.0
Review Count: 6

Activity: Chama Mama
Rating: 4.5
Review Count: 656

Category: Furniture Stores

In [30]:
model2.score(X_test, y_test)

0.8857142857142857

In [31]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import random

# select X & y and reshape df
X = city_category_predict_df['categories_encoded'].values.reshape(-1, 1)
y = city_category_predict_df['city']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the Random Forest Classifier
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Set to keep track of predicted cities and their activities
predicted_data = []

# Loop until Denver, Miami, and NewYork have been predicted
while len(predicted_data) < 3:
    # Generate a random sample of 10 categories
    sample_categories = random.sample(list(city_category_predict_df['categories_encoded']), 10)
    sample_categories_encoded = pd.DataFrame({'categories_encoded': sample_categories})

    # Predict the city based on the random group of 10 categories
    prediction = model.predict(sample_categories_encoded)
    predicted_city = prediction[0]

    # Check if the predicted city is one of Denver, Miami, or NewYork
    if predicted_city in ['Denver', 'Miami', 'NewYork']:
        # Get the actual category names
        category_names = city_category_predict_df.loc[city_category_predict_df['categories_encoded'].isin(sample_categories), 'categories'].unique()

        # Get the top activities for each sample category
        activities_data = []
        for category in sample_categories:
            # Convert category back to its name
            category_name = city_category_predict_df.loc[city_category_predict_df['categories_encoded'] == category, 'categories'].iloc[0]

            filtered_activities = filtered_city_df[(filtered_city_df['city'] == predicted_city) & (filtered_city_df['categories_encoded'] == category)]
            sorted_activities = filtered_activities.sort_values(['rating', 'review_count'], ascending=[False, False])
            top_activities = sorted_activities[['name', 'rating', 'review_count']].head(3)

            for _, activity in top_activities.iterrows():
                activity_name = activity['name']
                rating = activity['rating']
                review_count = activity['review_count']

                activities_data.append({
                    'Sample Category': category_name,
                    'Predicted City': predicted_city,
                    'Activity Name': activity_name,
                    'Rating': rating,
                    'Review Count': review_count
                })

        # Append the predicted activities to the list
        predicted_data.extend(activities_data)

# Create a DataFrame from the predicted data
predicted_df = pd.DataFrame(predicted_data)

# Print the final predicted data DataFrame
print("Predicted Data:")
print(predicted_df)

Predicted Data:
         Sample Category Predicted City                     Activity Name  \
0  Cannabis Dispensaries         Denver             Jad’s Mile High Smoke
1  Cannabis Dispensaries         Denver             Jad’s Mile High Smoke
2  Cannabis Dispensaries         Denver                   Kratom Cafe USA
3            Bingo Halls         Denver                 The Bingo Company
4            Bingo Halls         Denver         Turn Of The Century Bingo
5            Bingo Halls         Denver                      Barrys Bingo
6            Ski Schools         Denver        Stratiform Mountain Guides
7          Chiropractors         Denver                Nova Mente Academy
8          Chiropractors         Denver  Body Balance Strength & Wellness
9          Chiropractors         Denver  Body Balance Strength & Wellness

   Rating  Review Count
0     5.0             6
1     5.0             6
2     5.0             4
3     4.5             4
4     4.5             3
5     4.0            13
6     5.0             2
7     5.0             9
8     5.0             6
9     5.0             6

In [32]:
predicted_df

,Sample Category,Predicted City,Activity Name,Rating,Review Count
0,Cannabis Dispensaries,Denver,Jad’s Mile High Smoke,5.0,6
1,Cannabis Dispensaries,Denver,Jad’s Mile High Smoke,5.0,6
2,Cannabis Dispensaries,Denver,Kratom Cafe USA,5.0,4
3,Bingo Halls,Denver,The Bingo Company,4.5,4
4,Bingo Halls,Denver,Turn Of The Century Bingo,4.5,3
5,Bingo Halls,Denver,Barrys Bingo,4.0,13
6,Ski Schools,Denver,Stratiform Mountain Guides,5.0,2
7,Chiropractors,Denver,Nova Mente Academy,5.0,9
8,Chiropractors,Denver,Body Balance Strength & Wellness,5.0,6
9,Chiropractors,Denver,Body Balance Strength & Wellness,5.0,6